$backgroundHeader: url(../img/header_background_v1.jpg);
$navigationFontColor: #ececec;
$buttonsColor: #01acac;
$headerButtonFontColor: #ffffff;
$linesColor: #607d8b;
$blogTitleFontColor: #0097a7;
$blogAdminFontColor: #e90303;
$blogBackgroundColor: #efefef;
$mainBackgroundColor: #ffffff;
$mainTextColor: #000000;
$fonts: Roboto,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;
$fontSize: 15px;
$lineHeigth: 24px;